

@{
    ViewData["Title"] = "E-posta Doğrulandı";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <h4 class=" text-center">FMS'e olan ilginiz için teşekkür ederiz.</h4>
                <p class="text-center mt-2"><span>E-posta adresiniz doğrulanmıştır.</span><a asp-action="Login"><span>Sisteme giriş yapabilirsiniz.</span></a></p>


            </div>
        </div>
    </div>
</div>
