@model ApplicationFMS.Handlers.Feedbacks.Queries.GetPublicFeedbackList.PublicFeedbackDTO



    <div class="card">
        <div class="card-body">

            @await Component.InvokeAsync("SingleFeedbackInner", @Model)

        </div>
    </div>




