
@{
    ViewData["Title"] = "Error";
}
@model string

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">


        <div class="content-body">


            <hgroup>
                <hr />
                <h1 style="color:red">UYARI! </h1>
                <hr />
                <h2>Bir hata ile karşılaşıldı: </h2>
                <h2> @(ViewBag.Error ?? string.Empty)</h2>
                <hr />

            </hgroup>

        </div>
    </div>
</div>