@model ApplicationFMS.Handlers.Feedbacks.Commands.UpsertFeedback.UpsertFeedbackCommand
@{
    ViewData["Title"] = "Upsert Feedback";
    ViewData["Breadcrumb"] = "GERİBİLDİRİM GÖNDER / DÜZENLE";
}

<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Filtrele</h4>

                </div>
                <div style="">
                    <div class="card-body">
                        <form class="form" id="feedbackSearchForm" method="post" asp-action="Upsert">
                            <div class="row">

                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="basicSelect">Geribildirim Türü</label>
                                        <select class="form-control" asp-for="TypeId" id="selectType">
                                            <option value="">---Tür Seçiniz---</option>
                                            <option value="1">Şikayet</option>
                                            <option value="2">Öneri</option>
                                            <option value="3">Memnuniyet</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="basicSelect">Şikayet Türü</label>
                                        <select class="form-control" asp-for="SubTypeId" id="selectSubType">
                                            <option value="">---Tür Seçiniz---</option>
                                            <option value="1">Arızalı</option>
                                            <option value="2">Sağlığa zararlı</option>
                                            <option value="3">Diğer</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="basicSelect">Kullanıcı Adı</label>
                                        <select class="form-control" asp-for="IsAnonym" id="isAnonym">
                                            <option value="false">Belirtilmiş</option>
                                            <option value="true">Anonim</option>
                                        </select>
                                    </div>
                                </div>

                                @if (!(Model.TypeId > 0))
                                {
                                    <div class="col-md-6 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="basicSelect">Sektör</label>

                                            <input id="sectorId" type="hidden" name="sectorId" />
                                            <select class="form-control" asp-items=@ViewBag.Sectors id="selectSector">
                                                <option value="">---Sektör Seçiniz---</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="basicSelect">Şirket</label>

                                            <input id="companyId" type="hidden" name="companyId" />
                                            <select class="form-control" asp-items=@ViewBag.Companies id="selectCompany">
                                                <option value="">---Şirket Seçiniz---</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="basicSelect">Ürün</label>

                                            <input id="productId" type="hidden" name="productId" asp-for="ProductId" />
                                            <select class="form-control" asp-items=@ViewBag.Products id="selectProduct">
                                                <option value="">---Ürün Seçiniz---</option>
                                            </select>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input id="productId" type="hidden" name="productId" asp-for="ProductId" />
                                }




                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Başlık</label>
                                        <input type="text" id="title" class="form-control" placeholder="Başlık" asp-for="Title">
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Metin</label>
                                        <input type="text" id="text" class="form-control" placeholder="Metin" asp-for="Text">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Gönder</button>
                                    <button type="reset" class="btn btn-outline-secondary waves-effect">Formu Temizle</button>
                                </div>

                            </div>


                        </form>
                    </div>
                </div>
                <div><br /></div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#selectSubType").prop("disabled", true);
        $("#selectType").change(function () {
            console.log($("#selectType").val());
            if($("#selectType").val() == 1){
                $("#selectSubType").prop("disabled", false);
            }
            else{
                $("#selectSubType").val("");
                $("#selectSubType").prop("disabled", true);
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Sector", "Lookup")',
            type: "GET",
            success: function (json, textStatus) {
                json = json || {};
                for (var i = 0; i < json.length; i++) {
                    $("#selectSector").append(`<option value="${json[i].id}">${json[i].name}</option>`);
                }
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    });

    $(document).ready(function () {
        $("#selectCompany").prop("disabled", true);
        $("#selectSector").change(function () {

            $("#selectCompany").val("");
            $("input[name=companyId]").val("");

            $("#selectProduct").val("");
            $("input[name=productId]").val("");

            var id = $("#selectSector").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("Company", "Lookup")',
                data: { "id": id },
                success: function (json, textStatus) {
                    $("#selectCompany").empty();
                    $("#selectCompany").append(`<option value="">---Şirket Seçiniz---</option>`);
                    json = json || {};
                    for (var i = 0; i < json.length; i++) {
                        $("#selectCompany").append(`<option value="${json[i].id}">${json[i].name}</option>`);
                    }
                    $("#selectCompany").prop("disabled", false);
                },
                error: function () {
                    alert("Data Not Found");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#selectProduct").prop("disabled", true);
        $("#selectCompany").change(function () {

            $("#selectProduct").val("");
            $("input[name=productId]").val("");

            var id = $("#selectCompany").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("Product", "Lookup")',
                data: { "id": id },
                success: function (json, textStatus) {
                    $("#selectProduct").empty();
                    $("#selectProduct").append(`<option value="">---Ürün Seçiniz---</option>`);
                    json = json || {};
                    for (var i = 0; i < json.length; i++) {
                        $("#selectProduct").append(`<option value="${json[i].id}">${json[i].name}</option>`);
                    }
                    $("#selectProduct").prop("disabled", false);
                },
                error: function () {
                    alert("Data Not Found");
                }
            });
        });
    });

</script>


<script>
    $(document).ready(function () {

        $('.form-select').select2();

        var url = '@Url.Action("LoadFeedback", "Feedback")';

        function getModelObject() {
            return {
                TitleQuery: $("#title").val(),
                SectorId: $("#sectorId").val(),
                CompanyId: $("#companyId").val(),
                ProductId: $("#productId").val(),
                TypeId: $("#typeId").val(),
                PageNumber : $("#pageNumber").val(),
                SortColumn :  $("#sortColumn").val(),
                IsAscending :  $("#isAscending").val(),
                ObjectsPerPage : 12
            }
        }

        function getData() {
            return JSON.stringify(getModelObject());
        }

        function clearFeedbackArea () {
            $("#viewAllFeedback").empty();
        }

        function callLoadFeedback() {
            $.ajax({
                type: "Post",
                url: url,
                contentType: "application/json",
                data: getData(),
                dataType: "text",
                success: function (result) {
                    $("#viewAllFeedback").append(result);
                },
                error: function(xhr, status, error) {
                    alert("Daha fazla geribildirim bulunamadı!");
                }
            });
        }

        function incrementPageNumber() {
            var currentPageNumber = parseInt($("input[name=pageNumber]").val());
            $("input[name=pageNumber]").val(currentPageNumber + 1);
        }

        function resetPageNumber() {
            $("input[name=pageNumber]").val(1);
        }

        function refreshSearch() {
            clearFeedbackArea();
            resetPageNumber();
            callLoadFeedback();
        }

        $('#loadMoreFeedback').click(function () {
            incrementPageNumber();
            callLoadFeedback();
        });

        $('#submitSearchInput').click(function () {
            refreshSearch();
        });

        $("body").on("change", "#selectSector", function () {
            $("input[name=sectorId]").val($(this).find("option:selected").val());
        });

        $("body").on("change", "#selectCompany", function () {
            $("input[name=companyId]").val($(this).find("option:selected").val());
        });

        $("body").on("change", "#selectProduct", function () {
            $("input[name=productId]").val($(this).find("option:selected").val());
        });

        $("body").on("change", "#selectType", function () {
            $("input[name=typeId]").val($(this).find("option:selected").val());
        });


    });
</script>
}

